<% include partials/header %>


<div class = "container">
    <header class = "jumbotron">
        <div class = "conatiner">
            <h1>This is my Stamp Album for exchange</h1>
            <p>View my hand-picked stamp collections from all over the world. Contact me if you would like to buy or exchange.</p>
            <p>
                <a class="btn btn-primary btn-lg" href = "/collections/new"> Add New Item</a>
            </p>
        </div>
    </header>


    <div class = "row">
        <div class = "col-lg-12">
            <h3> Theme: Lunar new Year </h3>
        </div>
    </div>
    
    <div class = "row text-center" style = "dispaly:flex; flex-wrap: wrap;">
        <% collections.forEach(function(collection){ %>
            <div class = "col-md-3 col-sm-6">
               
              <div class = "thumbnail">
                 <image src = "<%= collection.image %>"> 
                <div class = "caption">
                    <p> <strong><%= collection.country %></strong> - <%= collection.name %> - <em> <%= collection.year %></em> </p>    
                </div>
                <p>
                    <a href= "/collections/<%= collection._id %>" class="btn btn-primary"> More Info </a>
                </p>
              </div>
            </div>    
        <% }); %>
    </div>
    
</div>
<% include partials/footer %>
    
